# ignore unnecessary files
# src
**/node_modules
docs
**/build
**/.git
dist
**/.gradle
resources/android-packages
*.lock
.env

# temparary ignore
src/android
resources/androidPackages
resources/android-sdk_r24.4.1-linux.tgz
resources/apache-maven-3.3.9-bin.tar.gz
resources/gradle-3.2-bin.zip
resources/watchman-4.7.0.tar.gz
