{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-1",
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
