{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-1",
    "stage-2",
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
